---
import { Image } from "astro:assets";
---

<section id="firstNav" class="firstNav">
  <div class="fontSize time flex items-center text-lg"><img src="/timepng.png" alt="openTime">Mon-fri:8am - 10pm</div>
  <div class="firstNavBtns">
    <ul>
      <li><a href="#" class="fontSize firstNavAbout text-lg">About Us</a></li>
      <li><a class="fontSize text-lg" href="#">Contact Us</a></li>
      <li><a href="#" class="fontSize firstNavLogin text-lg">Login/Register</a></li>
    </ul>
  </div>
</section>

<style>
  .firstNav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    font-family: 'Arial, sans-serif';
	  border-bottom: 1px solid #000;
}

.time img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.firstNavBtns ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.firstNavBtns ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}
.firstNavBtns ul li .firstNavAbout{
	border-right: 2px solid #000;
}
.firstNavBtns ul li .firstNavLogin{
	border-left: 2px solid #000;
}

.firstNavBtns ul li a:hover {
    background-color: #575757;
}

@media (max-width: 660px) {
  .fontSize{
    font-size: 0.8em;
  }
}

@media (max-width: 425px) {
  .fontSize{
    font-size: 0.5em;
  }
}
</style>
