---
import './Menu.css'
---

<section class="menuSection w-full h-25% flex justify-evenly py-2 flex-wrap" id="menuSection">
  <div class="menu-bag">
    <div class="menu menu1-burger"><img src="/public/burger2.png" alt="burger"></div>
    <div class="menu1-txt">Burger</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu2-fries"><img src="/public/Fries.png" alt="burger"></div>
    <div class="menu1-txt">French Fry</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu3-pasta"><img src="/public/pasta.png" alt="burger"></div>
    <div class="menu1-txt">Pasta</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu4-drink"><img src="/public/cold-drink.png" alt="burger"></div>
    <div class="menu1-txt">Cold Drinks</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu5-sandwich"><img src="/public/sandwiche.png" alt="burger"></div>
    <div class="menu1-txt">Sandwichs</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu6-pizza"><img src="/public/Pizza.png" alt="burger"></div>
    <div class="menu1-txt">Pizza</div>
  </div>
  <div class="menu-bag">
    <div class="menu menu7-combo"><img src="/public/Combo.png" alt="burger"></div>
    <div class="menu1-txt">Combo</div>
  </div>
</section>